{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <title>Student Admission</title>
     <style>@media screen and (max-width: 600px) {
        .admission-form {
width: 100%;
        }
     }</style>
</head>
<body>
    <div class="admission-form mx-auto p-2 " >
        <div class="nav p-2">
            Already Registered
        </div>
        
        <form action="">
            <div class="field d-flex flex-column pt-4 ms-2 me-2">
            <label for="application-number">CUET Application Number</label>
            <input type="text" name="application-number" id="application-number" placeholder="Enter CUET Application Number" required>
        </div>
        <div class="field d-flex flex-column pt-4 ms-2 me-2">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Password" required>
        </div>
            <div class="login">
                <button class="btn-login" type="submit">Login</button>
            </div>
        </form>
    </div>
</body>
</html>